<br>
<div class='container'>
    <h1>MyContactsApp</h1>
    <p>Hello there, this is my Contacts CRUD App, a basic CRUD(an application where you can Create, Read, Update and Delete records) application with rails...</p>
    
    <p>Reach me out at <a target="blank" href="https://twitter.com/paulcabezadev">Twitter</a> or <a target="blank" href="https://www.linkedin.com/in/paul-cabeza-dev/">Linkedin</a>. </p>
</div>



