<br>
<div class='container'>
    <h1>MyContactsApp</h1>
    <p>Hello there, this is my Contacts CRUD App, a basic CRUD(an application where you can Create, Read, Update and Delete records) application with rails...</p>
    
    <p>Please note this is under construction...</p>
</div>

